*
  box-sizing: border-box

@mixin flex-column
  display: flex
  flex-direction: column

@mixin flex-row
  display: flex
  flex-direction: row

@mixin centered-single
  @include flex-column
  justify-content: center
  align-items: center

@mixin centered-row
  @include flex-row
  justify-content: center

@mixin left-row
  @include flex-row
  justify-content: flex-start

body
  @include flex-column
  font-family: "Lucida Sans", sans-serif

#view
  @include centered-single
  flex-grow: 1
  div
    padding: 100px
    color: rgba(255, 255, 255, 0.9)
    text-shadow: -1px -1px 0px rgba(127,127,127,0.5), 1px -1px 0px rgba(127,127,127,0.5), 0px 2px 0px rgba(127,127,127,0.8), 0px 3px 4px rgba(0,0,0,0.5)
    box-shadow: 0px 3px 3px rgba(0,0,0,0.5)
    letter-spacing: 1px
    &.red
      background-color: #cc3333
    &.orange
      background-color: #cc9933
    &.yellow
      background-color: #cccc33
    &.green
      background-color: #33cc33
    &.cyan
      background-color: #33cccc
    &.blue
      background-color: #3333cc
    &.purple
      background-color: #9933cc
    &.violet
      background-color: #cc3399
    &.black
      background-color: #333333
    &.white
      background-color: #ffffff

    &.huge
      padding: 150px
    &.large
      padding: 120px
    &.small
      padding: 80px
    &.tiny
      padding: 50px
    
    &.round
      border-radius: 150px
    &.triangular
      border-top-right-radius: 150px
      border-top-left-radius: 150px
    &.hexagonal
      border-top-right-radius: 150px
      border-bottom-left-radius: 150px


#actions
  @include centered-row
  padding: 5px
  button
    margin: 5px
    padding: 10px
    letter-spacing: 0.5px
    text-shadow: -1px -1px 0px grey, 1px 1px 0px grey, -1px 1px 0px grey, 1px -1px 0px grey
    color: white
    &.red
      background-color: #cc3333
    &.orange
      background-color: #cc9933
    &.yellow
      background-color: #cccc33
    &.green
      background-color: #33cc33
    &.cyan
      background-color: #33cccc
    &.blue
      background-color: #3333cc
    &.purple
      background-color: #9933cc
    &.violet
      background-color: #cc3399
    &.black
      background-color: #333333
    &.white
      background-color: #ffffff
